.profile{
    min-height: 100vh;
    background:url('/background.png') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-container{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
}
.profile-pic{
 max-width: 160px;
 aspect-ratio: 1/1;
 margin: 20px auto;
    border-radius: 50%;
}
.profile form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}
.profile form h3{
    font-size: 500;
}
.profile form label{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: gray;
}
.profile form label img{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.profile form input ,textarea{
    padding: 10px;
    border: 1px solid #c9c9c9;
    min-width: 300px;
    outline-color:#077eff;
}
.profile form button{
    padding: 8px;
    border: none;
    background-color: #077eff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}