.login {
  /* Login styles */
  min-height: 100vh;
  background: url('/background.png') no-repeat center ;
  background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.login.logo {
  /* Logo styles */
  width:max(20vw,20px);
}
.loginform {
  /* Form styles */
  background: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}
.loginform h2{
    font-weight: 500;
}
.loginform input {
  /* Input styles */
  padding:8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: #077EFF;
}
.loginform button {
  /* Button styles */
  padding: 10px;
  background: #077EFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login_term {
  /* Terms styles */
  display: flex;
  gap:5px;
    font-size: 12px;
    color:black;
}
.login_forgot {
  /* Forgot password styles */
  display: flex;
  flex-direction: column;
  gap: 5px;

}
.login-toggle{
    /* Toggle styles */
    font-size: 13px;
    color: #5c5c5c;
}
.login-toggle span{
    font-weight: 500;
    color: #077EFF;
    cursor: pointer;
}
@media (max-width:768px){
  .login{
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}